@* @model User *@

<h3>Leaderboard</h3>
<ol>
    @foreach (User player in ViewBag.Leaderboard)
    {
        <li> <a href="user/detail/@player.UserId">@player.UserName</a> @player.Score</li>

    }
</ol>