@model Root;


<body>
    <nav></nav>
    <h1>Dashboard</h1>
    <h3>Trivia of the Day!</h3>
    <p></p>
    @foreach (var forecast in Model.results)
    {
        <div>
            <div class="form-group">
                <h4>Category:</h4>
                <div>@forecast.category</div>
            </div>
            <div class="form-group">
                <h4>Question:</h4>
                <h4>@forecast.question</h4>
            </div>
            <div class="form-group">
                <h4>Answer:</h4>
                <h4>@forecast.correct_answer
                </h4>
            </div>
        </div>
    }
</body>

</html>