<!DOCTYPE html>
<html lang="en">

@model Root;

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav></nav>
    <h1>Dashboard</h1>
    <h3>Trivia of the Day!</h3>
    <p></p>
    @foreach (var forecast in Model.results)
    {
        <div>
            <div class="form-group">
                <h4>Category:</h4>
                <h4>@forecast.category</h4>
            </div>
            <div class="form-group">
                <h4>Question:</h4>
                <h4>@forecast.question</h4>
            </div>
            <div class="form-group">
                <h4>Answer:</h4>
                <h4>@foreach (var answer in forecast.incorrect_answers)
                    {
                        answer;
                        <br/>
                    }                     
                </h4>
            </div>
        </div>
    }
</body>

</html>